div{
    background-image: url(../images/watch.webp);
    background-repeat: no-repeat;
    width:60%;
    min-height:800px;
    position: relative;
}

.clock1{
    width: 35px;
    height: 63px;
    position: absolute;
    top: 101px;
    left: 143px;
    opacity: 50%;
    animation: clock_small 216000s;
    
}



@keyframes clock_small{

    from { 
        transform: rotate(0deg);
        transform-origin: bottom center; 
    } to { 
        transform: rotate(360deg);
        transform-origin: bottom center;  
    }
}

.clock2{
    width: 50px;
    height: 108px;
    position: absolute;
    top: 55px;
    left: 135px;
    opacity: 50%;
    animation: clock_big 3600s;
}

@keyframes clock_big{
    
    from { 
        transform: rotate(0deg);
        transform-origin: bottom center;  
    } to { 
        transform: rotate(360deg); 
        transform-origin: bottom center; 
    }
}

.clock3{
    width: 50px;
    height: 95px;
    position: absolute;
    top: 55px;
    left: 135px;
    opacity: 50%;
    animation: clock_sec 60s steps(60) infinite;

}

@keyframes clock_sec{
    
    from { 
        transform: rotate(0deg);
        transform-origin: bottom center;  
    } to { 
        transform: rotate(360deg); 
        transform-origin: bottom center; 
    }
}